{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/productDescription.css">
{% endblock %}

{% block title %}
    Product description
{% endblock  %}

{%  block content %}
    <div class = "container">
        <div class ="row">
            <div class="block image">
                <img src="/assets/images/photos_cafe/1.PNG" class="img1" alt="imagox">
            </div>
            <div class ="text">
                <p>lorem here</p>
            </div>
        </div>
    </div>
{% endblock %}