{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="ct1 ">
            <p> <img src="https://image.noelshack.com/fichiers/2019/16/2/1555419173-icons8-citation-a-gauche-filled-24.png" alt="...">
                Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus, amicorum causa honesta faciamus
                ne exspectemus quidem, dum rogemur; studium
                <img src="https://image.noelshack.com/fichiers/2019/16/2/1555419557-icons8-citation-a-droite-filled-24.png" alt="...">
            </p>
        </div>
    </div>
    <div class="container no-padding">
        <div class="ct2">
            <div class="card mb-4">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="https://image.noelshack.com/fichiers/2019/16/2/1555415355-cafe.jpg" alt="...">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <p class="card-text"> Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus, amicorum causa honesta faciamus,
                                    ne exspectemus quidem, dum rogemur; studium semper adsit, cunctatio absit; consilium vero dare audeamus libere.
                                    non benevolentiae neque caritatis, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"> Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus, amicorum causa honesta faciamus,
                            ne exspectemus quidem, dum rogemur; studium semper adsit, cunctatio absit; consilium vero dare audeamus libere.
                            non benevolentiae neque caritatis, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://image.noelshack.com/fichiers/2019/16/2/1555414378-coffee-983955-640.jpg" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>

{% endblock %}