{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/product.css">
{% endblock %}

{% block title %}
    ARTICLES & PRODUITS
{% endblock  %}


{%  block content %}
    <div class = 'container'>
        <div class = "row">
            {% for article in articles %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{app.request.basepath}}/assets/images/photos_cafe/{{article.photo}}" class="card-img-top" alt="monimg" />
                        <div class="card-body">
                            <h5 class="card-title">{{ article.titre }}</h5>
                            <p class="card-text">{{ article.detail }}
                            </p>
                            <a href="#" class="align-self-end btn btn-lg btn-block btn-primary">more</a>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
    </div>
{%  endblock content %}