{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/product.css">
{% endblock %}

{% block title %}
    ARTICLES & PRODUITS
{% endblock  %}


{%  block content %}
{% include 'Category/category.html.twig' with categories %}
    <div class = "container">
        <div class = "row">
            {% for product in products %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{app.request.basepath}}/assets/images/photos_cafe/{{product.image}}" class="card-img-top" alt="monimg" />
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            {% for categorie in categories if categorie.id == product.id %}
                            <p class="card-text">{{ categorie.name }}
                            </p>
                            {% endfor %}
                            <a href="#" class="align-self-end btn btn-lg btn-block btn-primary">more</a>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
    </div>
{%  endblock content %}