{% extends 'layout.html.twig' %}


{% block title %}
    ARTICLES & PRODUITS
{% endblock  %}


{%  block content %}
    <div class = 'container'>
        <div class = "row">
            <div class = "col-sm">
                {% for article in articles %}
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img src="{{app.request.basepath}}/assets/images/photos_cafe/{{article.photo}}" class="card-img-top" alt="monimg" />
                            <div class="card-body">
                                <h5 class="card-title">{{ article.titre }}</h5>
                                <p class="card-text">{{ article.detail }}
                                   </p>
                                <a href="#" class="btn btn-primary">more</a>
                            </div>
                        </div>
                    </div>
                {%  endfor %}
            </div>
        </div>
    </div>
{%  endblock content %}