<header>
    <nav class="navbar navbar-expand-lg navbar-light py-3 sticky-top">
        <a class="navbar-brand" href="#"><h2>Koffie<img  class="icon d-inline-block align-top" alt="" src="/assets/images/logo/spoon.png" width="80nch" height="40"></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div class="d-flex justify-content-around w-75 mx-auto">
                <div class="nav-item"><a class="text-dark" href="#">Home</a></div>
                <div class="nav-item"><a class="text-dark" href="#">About</a></div>
                <div class="nav-item"><a class="text-dark" href="#">Products</a></div>
                <div class="nav-item"><a class="text-dark" href="#">Contact</a></div>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#"><img src="/assets/images/logo/panier.png" class="basket" alt=""/></a>
                </li>
                <li class="nav-item mt-2">
                    <button class="login">Login</button>
                </li>
            </ul>
        </div>
    </nav>
</header>