.Login{

    background-color: #916808;
    color: #fff;
    padding: 6px 25px;
    border: none;
    border-radius: 40px;
}
.panier{
    position: absolute;
    width: 2px;
    margin-top: 25px;
    margin-left: 340px;

}

.brand{

    margin-top:20px;
}

.icon{
    margin-top:-80px;
    margin-left: 120px;
}

a{
    color: red;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.ct1{

    margin-top: 30px;
}


