{% extends 'layout.html.twig' %}
{%block stylesheet %}
    <link rel="stylesheet" type="text/css" href='/assets/css/about.css'>
{% endblock %}

{% block content %}
    <div class="container no-padding">
        <div class="carousel">
            <div id="carouselExampleFade" class="carousel slide carousel-fade bd-example" data-ride="carousel">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../assets/images/logo/productor1.jpg" class="d-block w-100" alt="oizu">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/images/logo/productor2.jpg" class="d-block w-100" alt="ij">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/images/logo/productor3.jpg" class="d-block w-100" alt="ij">
                        </div>

                        <div class="carousel-item">
                            <img src="../assets/images/logo/productor4.jpg" class="d-block w-100" alt="ih">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/images/logo/productor5.jpg" class="d-block w-100" alt="ih">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="card border-0 text-center">
                <div class="card-body mt-5">
                    <blockquote class="blockquote mb-0">
                        <p1 class ="card-text" ><span class="border"></span>
                            <img src="https://image.noelshack.com/fichiers/2019/16/2/1555419173-icons8-citation-a-gauche-filled-24.png" alt="...">
                            Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus, amicorum causa honesta faciamus
                            ne exspectemus quidem, dum rogemur studium ne
                            <img src="https://image.noelshack.com/fichiers/2019/16/2/1555419557-icons8-citation-a-droite-filled-24.png" alt="...">
                        </p1>
                    </blockquote>
                </div>
            </div>
    </div>

    <div class="container no-padding">
        <div class="ct2">
            <div class="card mb-5 border-0">
                <div class="card border-0">
                    <div class="row no-gutters">
                        <div class="col">
                            <img src="https://image.noelshack.com/fichiers/2019/16/3/1555489325-adolescent-adulte-assiette-933964.jpg" alt="...">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <p class="card-text"> Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus, amicorum causa honesta faciamus,
                                    ne exspectemus quidem, dum rogemur; studium semper adsit, cunctatio absit; consilium vero dare audeamus libere.
                                    non benevolentiae neque caritatis, ita amicitias appetere maxime; ex eo fieri ut mulierculae </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card1">
            <div class="row no-gutters">
                <div class="col-md-7">
                    <div class="card-body">
                        <p class="card-text"> Haec igitur prima lex amicitiae sanciatur, ut ab amicis honesta petamus, amicorum causa honesta faciamus,
                            ne exspectemus quidem, dum rogemur; studium semper adsit, cunctatio absit; consilium vero dare audeamus libere.
                            non benevolentiae neque caritatis, minimumque virium, ita amicitias </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://image.noelshack.com/fichiers/2019/16/3/1555503839-a-l-interieur-accueillir-amis-1331971.jpg" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}